# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production

# Revalidation
REVALIDATION_SECRET=

# Resend (Email)
RESEND_API_KEY=
CONTACT_EMAIL_TO=

# Analytics
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_SITE_URL=https://msmmeng.com
